Repository panther-labs/panther-analysis, pull requests merged in 2020-02, with the labels that each got.

#15 Add references, fix a bug in RDS Instance HA policy
  CONTRIBUTING.md
  README.md
  analysis/aws_rules/cis/aws_cloudtrail_modified.yml
  analysis/aws_rules/cis/aws_console_login_failed.yml
  analysis/aws_rules/cis/aws_console_login_without_mfa.yml
  analysis/aws_rules/cis/aws_ec2_gateway_modified.yml
  analysis/aws_rules/cis/aws_ec2_network_acl_modified.yml
  analysis/aws_rules/cis/aws_ec2_route_table_modified.yml
  analysis/aws_rules/cis/aws_ec2_security_group_modified.yml
  analysis/aws_rules/cis/aws_ec2_vpc_modified.yml
  analysis/aws_rules/cis/aws_iam_policy_modified.yml
  analysis/aws_rules/cis/aws_kms_cmk_loss.yml
  analysis/aws_rules/cis/aws_s3_bucket_policy_modified.yml
  analysis/aws_rules/cis/aws_unauthorized_api_call.yml
  analysis/policies/managed/aws_ec2_instance_detailed_monitoring_enabled.yml
  analysis/policies/managed/aws_ec2_instance_ebs_optimized.yml
  analysis/policies/managed/aws_rds_instance_has_high_availability.py
  analysis/policies/managed/aws_rds_instance_has_high_availability.yml
  analysis/policies/s3/aws_s3_bucket_versioning_enabled.yml
Labels: policies, rules

#20 Rules perform safe lookups
  analysis/aws_rules_cis/aws_cloudtrail_modified.py
  analysis/aws_rules_cis/aws_config_service_modified.py
  analysis/aws_rules_cis/aws_console_login_failed.py
  analysis/aws_rules_cis/aws_console_login_without_mfa.py
  analysis/aws_rules_cis/aws_ec2_gateway_modified.py
  analysis/aws_rules_cis/aws_ec2_network_acl_modified.py
  analysis/aws_rules_cis/aws_ec2_route_table_modified.py
  analysis/aws_rules_cis/aws_ec2_security_group_modified.py
  analysis/aws_rules_cis/aws_ec2_vpc_modified.py
  analysis/aws_rules_cis/aws_iam_policy_modified.py
  analysis/aws_rules_cis/aws_kms_cmk_loss.py
  analysis/aws_rules_cis/aws_root_activity.py
  analysis/aws_rules_cis/aws_s3_bucket_policy_modified.py
  analysis/aws_rules_s3_access_logs/aws_s3_access_error.py
  analysis/aws_rules_s3_access_logs/aws_s3_access_error.yml
  analysis/aws_rules_s3_access_logs/aws_s3_access_ip_whitelist.py
  analysis/aws_rules_s3_access_logs/aws_s3_insecure_access.py
  analysis/aws_rules_s3_access_logs/aws_s3_insecure_access.yml
  analysis/aws_rules_s3_access_logs/aws_s3_unauthenticated_access.py
  analysis/aws_rules_s3_access_logs/aws_s3_unauthenticated_access.yml
  analysis/aws_rules_vpc_flow_logs/aws_vpc_healthy_log_status.py
  analysis/aws_rules_vpc_flow_logs/aws_vpc_inbound_traffic_port_blacklist.py
  analysis/aws_rules_vpc_flow_logs/aws_vpc_inbound_traffic_port_whitelist.py
  analysis/aws_rules_vpc_flow_logs/aws_vpc_unapproved_outbound_dns.py
Labels: rules

#21 AWS Rules - DeleteBucket, S3 Insecure Access Fix
  analysis/aws_rules_cloudtrail/aws_s3_bucket_deleted.py
  analysis/aws_rules_cloudtrail/aws_s3_bucket_deleted.yml
  analysis/aws_rules_s3_access_logs/aws_s3_insecure_access.py
  analysis/aws_rules_s3_access_logs/aws_s3_insecure_access.yml
  analysis/osquery_rules/osquery_mac_alf_disabled.py
  analysis/osquery_rules/osquery_mac_alf_disabled.yml
  analysis/osquery_rules/osquery_mac_osx_attacks.py
  analysis/osquery_rules/osquery_mac_osx_attacks.yml
  analysis/osquery_rules_cis/osquery_mac_enable_auto_update.yml
Labels: bug, rules
