Repository panther-labs/panther-analysis, pull requests merged in 2023-06, with the labels that each got.

#766 feat: a generic approach to impossible travel for login style events
  data_models/aws_cloudtrail_data_model.py
  data_models/aws_cloudtrail_data_model.yml
  global_helpers/global_helpers_test.py
  global_helpers/panther_oss_helpers.py
  rules/standard_rules/impossible_travel_login.py
  rules/standard_rules/impossible_travel_login.yml
Labels: rules

#768 fix: When Snyk users are added via SAML, the userId on the audit log entry is the same as the userid of the added user
  rules/snyk_rules/snyk_user_mgmt.py
  rules/snyk_rules/snyk_user_mgmt.yml
Labels: tuning

#780 fix: Standard.ImpossibleTravel.Login should not alert on VPN or ApplePrivateRelay
  rules/standard_rules/impossible_travel_login.py
  rules/standard_rules/impossible_travel_login.yml
Labels: tuning

#779 Add detections for GCP DNS zone operations
  global_helpers/gcp_base_helpers.py
  rules/gcp_audit_rules/gcp_dns_zone_modified_or_deleted.py
  rules/gcp_audit_rules/gcp_dns_zone_modified_or_deleted.yml
Labels: rules

#782 add: github rule add org moderator
  rules/github_rules/github_org_moderators_add.py
  rules/github_rules/github_org_moderators_add.yml
Labels: rules

#784 remove dynamo encryption policy from pack
  packs/aws.yml
Labels: packs

#792 fix: tines_actions_disabled should use the global filter
  rules/tines_rules/tines_actions_disabled_changes.py
Labels: tuning

#795 add: notion rule many pages deleted
  packs/notion.yml
  rules/notion_rules/notion_many_pages_deleted.py
  rules/notion_rules/notion_many_pages_deleted.yml
Labels: rules, packs

#791 Add detection for GCP firewall rule creations
  rules/gcp_audit_rules/gcp_firewall_rule_created.py
  rules/gcp_audit_rules/gcp_firewall_rule_created.yml
Labels: rules

#794 Add detection for GCP firewall rule deletions
  rules/gcp_audit_rules/gcp_firewall_rule_deleted.py
  rules/gcp_audit_rules/gcp_firewall_rule_deleted.yml
  rules/gcp_audit_rules/gcp_firewall_rule_modified.yml
Labels: rules

#798 Add detections for GCP logging bucket or sink deletions
  rules/gcp_audit_rules/gcp_log_bucket_or_sink_deleted.py
  rules/gcp_audit_rules/gcp_log_bucket_or_sink_deleted.yml
Labels: rules

#799 Add detections for GCP logging sink modifications
  rules/gcp_audit_rules/gcp_logging_sink_modified.py
  rules/gcp_audit_rules/gcp_logging_sink_modified.yml
Labels: rules

#803 Allow for any API version for certain GCP detections
  rules/gcp_audit_rules/gcp_firewall_rule_created.py
  rules/gcp_audit_rules/gcp_firewall_rule_deleted.py
  rules/gcp_audit_rules/gcp_firewall_rule_modified.py
Labels: tuning

#796 add: notion rule scim token generated
  packs/notion.yml
  rules/notion_rules/notion_scim_token_generated.py
  rules/notion_rules/notion_scim_token_generated.yaml
Labels: rules, packs

#815 feat: new auth0_integration_installed detection
  packs/auth0.yml
  rules/auth0_rules/auth0_integration_installed.py
  rules/auth0_rules/auth0_integration_installed.yml
Labels: rules

#816 Add detection for user invitations to tenants and organizations
  packs/auth0.yml
  rules/auth0_rules/auth0_user_invitation_created.py
  rules/auth0_rules/auth0_user_invitation_created.yml
Labels: rules

#822 fix: cloudflare pack also needed panther_base_helpers for deep_get
  packs/cloudflare.yml
  packs/ipinfo.yml
Labels: bug

#819 Add deep_walk function and tests
  global_helpers/global_helpers_test.py
  global_helpers/panther_base_helpers.py
  rules/gcp_audit_rules/gcp_service_account_access_denied.py
Labels: enhancement, python

#812 [new rule][Auth0]: Role Created
  packs/auth0.yml
  rules/auth0_rules/auth0_custom_role_created.py
  rules/auth0_rules/auth0_custom_role_created.yml
Labels: rules

#813 New Rule: Auth0 MFA Policy Enabled
  packs/auth0.yml
  rules/auth0_rules/auth0_mfa_policy_enabled.py
  rules/auth0_rules/auth0_mfa_policy_enabled.yml
Labels: rules

#814 feat: Detection for Auth0 post login flow
  packs/auth0.yml
  rules/auth0_rules/auth0_post_login_action_flow.py
  rules/auth0_rules/auth0_post_login_action_flow.yml
Labels: rules

#827 fixes duplicate slack rule display names
  rules/slack_rules/slack_app_removed.yml
  rules/slack_rules/slack_ekm_unenrolled.yml
Labels: documentation

#826 fix: summaryattributes reference required fields
  rules/tines_rules/tines_actions_disabled_changes.yml
  rules/tines_rules/tines_custom_ca.yml
  rules/tines_rules/tines_global_resource_destruction.yml
  rules/tines_rules/tines_sso_settings.yml
  rules/tines_rules/tines_tenant_authtoken.yml
Labels: bug

#831 fixing display name and runbook of auth0 rule
  rules/auth0_rules/auth0_post_login_action_flow.yml
Labels: documentation

#834 docs: Test+Lint queries directory
  Makefile
  queries/aws_queries/scheduled_rule_default.py
  queries/snowflake_queries/snowflake_account_admin_assigned.py
  queries/snowflake_queries/snowflake_brute_force_ip.py
  queries/snowflake_queries/snowflake_brute_force_username.py
  queries/snowflake_queries/snowflake_external_shares.py
  queries/snowflake_queries/snowflake_key_user_password_login.py
  queries/snowflake_queries/snowflake_login_without_mfa.py
  queries/snowflake_queries/snowflake_multiple_failed_logins_followed_by_success.py
  queries/snowflake_queries/snowflake_public_role_grant.py
  queries/snowflake_queries/snowflake_user_created.py
  queries/snowflake_queries/snowflake_user_enabled.py
Labels: documentation

#832 Update deep_walk type hints
  global_helpers/panther_base_helpers.py
Labels: python

#829 fixes fallback behavior in slack app added severity function
  rules/slack_rules/slack_app_added.py
  rules/slack_rules/slack_app_added.yml
Labels: bug

#787 Tines Rule - Job Deletion (2 cases)
  packs/tines.yml
  rules/tines_rules/tines_enqueued_retrying_job_deletion.py
  rules/tines_rules/tines_enqueued_retrying_job_deletion.yml
Labels: rules

#788 Tines Rule - Story Items Destruction
  packs/tines.yml
  rules/tines_rules/tines_story_items_destruction.py
  rules/tines_rules/tines_story_items_destruction.yml
Labels: rules

#835 fix: when Panther users are modified via SCIM, alert is INFO level
  data_models/panther_audit_data_model.py
  data_models/panther_audit_data_model.yml
  rules/panther_audit_rules/panther_user_modified.py
  rules/panther_audit_rules/panther_user_modified.yml
Labels: tuning

#789 Tines Rule - Team Destruction
  packs/tines.yml
  rules/tines_rules/tines_team_destruction.py
  rules/tines_rules/tines_team_destruction.yml
Labels: rules

#838 Upgrading to pat 0.23.0
  Pipfile
  Pipfile.lock
Labels: dependencies

#839 Update slack_potentially_malicious_file_shared description
  rules/slack_rules/slack_potentially_malicious_file_shared.yml
Labels: documentation

#840 fix: when a global is used as a state machine, it is preferable to define it in rule()
  rules/standard_rules/impossible_travel_login.py
  rules/standard_rules/impossible_travel_login.yml
Labels: bug
