Repository panther-labs/panther-analysis, pull requests merged in 2023-03, with the labels that each got.

#696 New detection: alert when an asana user makes saml optional for an organization
  packs/asana.yml
  rules/asana_rules/asana_workspace_saml_optional.py
  rules/asana_rules/asana_workspace_saml_optional.yml
Labels: rules, packs

#697 New detection: alerts when asana user disables app approval requirements for an organization
  packs/asana.yml
  rules/asana_rules/asana_workspace_require_app_approvals_disabled.py
  rules/asana_rules/asana_workspace_require_app_approvals_disabled.yml
Labels: rules, packs

#698 chore: let automagic release note generation do more for us
  .github/release.yml
Labels: team:security engineering

#692 new detection: alert when a zoom user changes an organization's sign in requirements
  packs/zoom.yml
  rules/zoom_operation_rules/zoom_sign_in_requirements_changed.py
  rules/zoom_operation_rules/zoom_sign_in_requirements_changed.yml
Labels: rules, packs

#709 adding additional logic to drop alert severity to low if outcome is DENY
  rules/okta_rules/okta_threatinsight_security_threat_detected.py
  rules/okta_rules/okta_threatinsight_security_threat_detected.yml
Labels: tuning
