Repository panther-labs/panther-analysis, pull requests merged in 2023-04, with the labels that each got.

#729 feat: Snyk detections for OU changes and external access changes
  rules/snyk_rules/snyk_ou_change.py
  rules/snyk_rules/snyk_ou_change.yml
  rules/snyk_rules/snyk_system_externalaccess.py
  rules/snyk_rules/snyk_system_externalaccess.yml
  rules/snyk_rules/snyk_system_policysetting.py
Labels: rules

#732 Adding Panther.Audit to the Greynoise LUTs
  lookup_tables/greynoise/advanced/noise_advanced.yml
  lookup_tables/greynoise/advanced/riot_advanced.yml
  lookup_tables/greynoise/basic/noise_basic.yml
  lookup_tables/greynoise/basic/riot_basic.yml
Labels: tuning, lookup_table

#731 Feat/edyesed/snyk roles and svcaccts
  rules/snyk_rules/snyk_role_change.py
  rules/snyk_rules/snyk_role_change.yml
  rules/snyk_rules/snyk_svcacct_change.py
  rules/snyk_rules/snyk_svcacct_change.yml
Labels: rules

#693 Slack: User's role changed to User
  packs/slack.yml
  rules/slack_rules/slack_privilege_changed_to_user.py
  rules/slack_rules/slack_privilege_changed_to_user.yml
Labels: rules, packs
