Repository panther-labs/panther-analysis, pull requests merged in 2024-11, with the labels that each got.

#1405 EKS Anonymous API Access Detection Rule
  packs/aws.yml
  rules/aws_eks_rules/anonymous_api_access.py
  rules/aws_eks_rules/anonymous_api_access.yml
Labels: rules

#1417 Adjust CR Schedules and Lookbacks
  correlation_rules/aws_cloudtrail_stopinstance_followed_by_modifyinstanceattributes.yml
  correlation_rules/aws_console_sign-in_without_okta.yml
  correlation_rules/aws_privilege_escalation_via_user_compromise.yml
  correlation_rules/aws_sso_access_token_retrieved_by_unauthenticated_ip.yml
  correlation_rules/aws_user_takeover_via_password_reset.yml
  correlation_rules/gcp_cloud_run_service_create_followed_by_set_iam_policy.yml
  correlation_rules/github_advanced_security_change_not_followed_by_repo_archived.yml
  correlation_rules/notion_login_followed_by_account_change.yml
  correlation_rules/okta_login_without_push.yml
  correlation_rules/onelogin_successful_login_after_high_risk_failed_login.yml
  correlation_rules/potential_compromised_okta_credentials.yml
  correlation_rules/secret_exposed_and_not_quarantined.yml
  correlation_rules/snowflake_data_exfiltration.yml
  rules/crowdstrike_rules/event_stream_rules/crowdstrike_ephemeral_user_account.yml
  rules/crowdstrike_rules/event_stream_rules/crowdstrike_new_admin_user_created.yml
Labels: tuning, correlation_rules

#1387 Convert Snowflake Scheduled Rules into Streaming Rules
  correlation_rules/snowflake_potential_brute_force_success.yml
  global_helpers/panther_snowflake_helpers.py
  global_helpers/panther_snowflake_helpers.yml
  packs/snowflake_streaming.yml
  rules/snowflake_rules/snowflake_stream_account_admin_assigned.py
  rules/snowflake_rules/snowflake_stream_account_admin_assigned.yml
  rules/snowflake_rules/snowflake_stream_brute_force_by_ip.py
  rules/snowflake_rules/snowflake_stream_brute_force_by_ip.yml
  rules/snowflake_rules/snowflake_stream_brute_force_by_username.py
  rules/snowflake_rules/snowflake_stream_brute_force_by_username.yml
  rules/snowflake_rules/snowflake_stream_external_shares.py
  rules/snowflake_rules/snowflake_stream_external_shares.yml
  rules/snowflake_rules/snowflake_stream_file_downloaded.py
  rules/snowflake_rules/snowflake_stream_file_downloaded.yml
  rules/snowflake_rules/snowflake_stream_login_success.py
  rules/snowflake_rules/snowflake_stream_login_success.yml
  rules/snowflake_rules/snowflake_stream_login_without_mfa.py
  rules/snowflake_rules/snowflake_stream_login_without_mfa.yml
  rules/snowflake_rules/snowflake_stream_public_role_grant.py
  rules/snowflake_rules/snowflake_stream_public_role_grant.yml
  rules/snowflake_rules/snowflake_stream_table_copied_into_stage.py
  rules/snowflake_rules/snowflake_stream_table_copied_into_stage.yml
  rules/snowflake_rules/snowflake_stream_temp_stage_created.py
  rules/snowflake_rules/snowflake_stream_temp_stage_created.yml
  rules/snowflake_rules/snowflake_stream_user_created.py
  rules/snowflake_rules/snowflake_stream_user_created.yml
  rules/snowflake_rules/snowflake_stream_user_enabled.py
  rules/snowflake_rules/snowflake_stream_user_enabled.yml
Labels: enhancement, rules, packs

#1413 Fix event dict typing
  global_helpers/panther_aws_helpers.py
  global_helpers/panther_box_helpers.py
  global_helpers/panther_cloudflare_helpers.py
  global_helpers/panther_crowdstrike_fdr_helpers.py
  global_helpers/panther_duo_helpers.py
  global_helpers/panther_lookuptable_helpers.py
  global_helpers/panther_okta_helpers.py
Labels: bug

#1414 Fix Wiz Audit Log Titles for Service Account Actors
  global_helpers/panther_wiz_helpers.py
  rules/wiz_rules/wiz_cicd_scan_policy_updated_or_deleted.py
  rules/wiz_rules/wiz_connector_updated_or_deleted.py
  rules/wiz_rules/wiz_data_classifier_updated_or_deleted.py
  rules/wiz_rules/wiz_image_integrity_validator_updated_or_deleted.py
  rules/wiz_rules/wiz_integration_updated_or_deleted.py
  rules/wiz_rules/wiz_revoke_user_sessions.py
  rules/wiz_rules/wiz_rotate_service_account_secret.py
  rules/wiz_rules/wiz_rule_change.py
  rules/wiz_rules/wiz_saml_identity_provider_change.py
  rules/wiz_rules/wiz_service_account_change.py
  rules/wiz_rules/wiz_update_ip_restrictions.py
  rules/wiz_rules/wiz_update_login_settings.py
  rules/wiz_rules/wiz_update_scanner_settings.py
  rules/wiz_rules/wiz_update_support_contact_list.py
  rules/wiz_rules/wiz_user_created_or_deleted.py
  rules/wiz_rules/wiz_user_role_updated_or_deleted.py
Labels: enhancement

#1415 THREAT-403 Create rules for User, Administrator, and Role Management based on test cases
  global_helpers/panther_zscaler_helpers.py
  global_helpers/panther_zscaler_helpers.yml
  packs/zscaler_zia.yml
  rules/zscaler_rules/zia/zia_account_access_removal.py
  rules/zscaler_rules/zia/zia_account_access_removal.yml
  rules/zscaler_rules/zia/zia_additional_cloud_roles.py
  rules/zscaler_rules/zia/zia_additional_cloud_roles.yml
  rules/zscaler_rules/zia/zia_create_cloud_account.py
  rules/zscaler_rules/zia/zia_create_cloud_account.yml
  rules/zscaler_rules/zia/zia_password_expiration.py
  rules/zscaler_rules/zia/zia_password_expiration.yml
  rules/zscaler_rules/zia/zia_trust_modification.py
  rules/zscaler_rules/zia/zia_trust_modification.yml
Labels: rules

#1416 s3 bucket confused deputy attack
  packs/aws.yml
  policies/aws_s3_policies/aws_s3_bucket_policy_confused_deputy.py
  policies/aws_s3_policies/aws_s3_bucket_policy_confused_deputy.yml
Labels: rules

#1418 fixing ruleID typo on gcp_k8s_pod_create_or_modify_host_path_vol_mount.yml
  deprecated.txt
  packs/gcp_k8.yml
  rules/gcp_k8s_rules/gcp_k8s_pod_create_or_modify_host_path_vol_mount.yml
Labels: bug

#1421 ASK-928 tuning Zendesk.UserRoleChanged
  rules/zendesk_rules/zendesk_user_role.py
  rules/zendesk_rules/zendesk_user_role.yml
Labels: rules, tuning

#1422 Refactor `panther_azuresignin_helpers.actor_user` to use imported `deep_get`
  global_helpers/panther_azuresignin_helpers.py
Labels: bug

#1408 Adding Some Snowflake Behavioral/Anomaly Scheduled Queries
  packs/snowflake_streaming.yml
  queries/snowflake_queries/snowflake_attempted_login_by_disabled_user.py
  queries/snowflake_queries/snowflake_attempted_login_by_disabled_user.yml
  queries/snowflake_queries/snowflake_attempted_login_by_disabled_user_query.yml
  queries/snowflake_queries/snowflake_suspicious_session.py
  queries/snowflake_queries/snowflake_suspicious_session.yml
  queries/snowflake_queries/snowflake_suspicious_session_query.yml
  queries/snowflake_queries/snowflake_user_query_volume_spike.py
  queries/snowflake_queries/snowflake_user_query_volume_spike.yml
  queries/snowflake_queries/snowflake_user_query_volume_spike_query.yml
  queries/snowflake_queries/snowflake_user_query_volume_spike_threat_hunting.yml
Labels: queries

#1429 Revert "EKS Anonymous API Access Detection Rule (#1405)"
  packs/aws.yml
  rules/aws_eks_rules/anonymous_api_access.py
  rules/aws_eks_rules/anonymous_api_access.yml
Labels: rules, tuning

#1431 Fix Standard.SignInFromRogueState for Unenriched Events
  rules/standard_rules/sign_in_from_rogue_state.py
  rules/standard_rules/sign_in_from_rogue_state.yml
Labels: bug

#1423 THREAT-408 `Notion.Many.Pages.Deleted` -> Scheduled Rule
  packs/notion.yml
  queries/notion_queries/notion_many_pages_deleted_query.yml
  queries/notion_queries/notion_many_pages_deleted_sched.py
  queries/notion_queries/notion_many_pages_deleted_sched.yml
  rules/notion_rules/notion_many_pages_deleted.yml
Labels: rules, tuning, scheduled_rules

#1425 THREAT-411 ZIA AdminAuditRules - Password, Log, Backup
  packs/zscaler_zia.yml
  rules/zscaler_rules/zia/zia_backup_deleted.py
  rules/zscaler_rules/zia/zia_backup_deleted.yml
  rules/zscaler_rules/zia/zia_golden_restore_point_dropped.py
  rules/zscaler_rules/zia/zia_golden_restore_point_dropped.yml
  rules/zscaler_rules/zia/zia_insecure_password_settings.py
  rules/zscaler_rules/zia/zia_insecure_password_settings.yml
  rules/zscaler_rules/zia/zia_log_streaming_disabled.py
  rules/zscaler_rules/zia/zia_log_streaming_disabled.yml
  rules/zscaler_rules/zia/zia_logs_downloaded.py
  rules/zscaler_rules/zia/zia_logs_downloaded.yml
Labels: rules
