Repository panther-labs/panther-analysis, pull requests merged in 2024-09, with the labels that each got.

#1342 Update Pack Manifests with Data Models and Globals
  packs/asana.yml
  packs/atlassian.yml
  packs/aws.yml
  packs/azure_signin.yml
  packs/box.yml
  packs/cisco_umbrella_dns.yml
  packs/cloudflare.yml
  packs/credential_security.yml
  packs/crowdstrike.yml
  packs/crowdstrike_event_streams.yml
  packs/gsuite_reports.yml
  packs/multisource_correlations.yml
  packs/notion.yml
  packs/onelogin.yml
  packs/slack.yml
  packs/standard_ruleset.yml
  packs/wiz.yml
  packs/zoom.yml
Labels: bug

#1344 Refreshing Contributing Guidelines
  CONTRIBUTING.md
  STYLE_GUIDE.md
Labels: documentation

#1351 validate and upload on PRs
  .github/workflows/upload.yml
Labels: github_actions

#1348 THREAT-354 Converting caching rules to correlation
  correlation_rules/notion_account_changed_after_login.yml
  correlation_rules/onelogin_successful_login_after_high_risk_failed_login.yml
  packs/notion.yml
  packs/onelogin.yml
  rules/notion_rules/notion_account_changed.py
  rules/notion_rules/notion_account_changed.yml
  rules/notion_rules/notion_account_changed_after_login.yml
  rules/notion_rules/notion_login.py
  rules/notion_rules/notion_login.yml
  rules/onelogin_rules/onelogin_high_risk_login.yml
  rules/onelogin_rules/onelogin_login.py
  rules/onelogin_rules/onelogin_login.yml
Labels: scheduled_rules

#1289 more correlation rules from AWS re:inforce
  correlation_rules/aws_console_sign-in_without_okta.yml
  correlation_rules/aws_sso_access_token_retrieved_by_unauthenticated_ip.yml
Labels: scheduled_rules

#1323 Wiz audit rules
  Pipfile
  Pipfile.lock
  correlation_rules/aws_sso_access_token_retrieved_by_unauthenticated_ip.yml
  global_helpers/panther_wiz_helpers.py
  global_helpers/panther_wiz_helpers.yml
  packs/github.yml
  packs/wiz.yml
  rules/wiz_rules/wiz_cicd_scan_policy_updated_or_deleted.py
  rules/wiz_rules/wiz_cicd_scan_policy_updated_or_deleted.yml
  rules/wiz_rules/wiz_connector_updated_or_deleted.py
  rules/wiz_rules/wiz_connector_updated_or_deleted.yml
  rules/wiz_rules/wiz_data_classifier_updated_or_deleted.py
  rules/wiz_rules/wiz_data_classifier_updated_or_deleted.yml
  rules/wiz_rules/wiz_image_integrity_validator_updated_or_deleted.py
  rules/wiz_rules/wiz_image_integrity_validator_updated_or_deleted.yml
  rules/wiz_rules/wiz_integration_updated_or_deleted.py
  rules/wiz_rules/wiz_integration_updated_or_deleted.yml
  rules/wiz_rules/wiz_revoke_user_sessions.py
  rules/wiz_rules/wiz_revoke_user_sessions.yml
  rules/wiz_rules/wiz_rotate_service_account_secret.py
  rules/wiz_rules/wiz_rotate_service_account_secret.yml
  rules/wiz_rules/wiz_rule_change.py
  rules/wiz_rules/wiz_rule_change.yml
  rules/wiz_rules/wiz_saml_identity_provider_change.py
  rules/wiz_rules/wiz_saml_identity_provider_change.yml
  rules/wiz_rules/wiz_service_account_change.py
  rules/wiz_rules/wiz_service_account_change.yml
  rules/wiz_rules/wiz_update_ip_restrictions.py
  rules/wiz_rules/wiz_update_ip_restrictions.yml
  rules/wiz_rules/wiz_update_login_settings.py
  rules/wiz_rules/wiz_update_login_settings.yml
  rules/wiz_rules/wiz_update_scanner_settings.py
  rules/wiz_rules/wiz_update_scanner_settings.yml
  rules/wiz_rules/wiz_update_support_contact_list.py
  rules/wiz_rules/wiz_update_support_contact_list.yml
  rules/wiz_rules/wiz_user_created_or_deleted.py
  rules/wiz_rules/wiz_user_created_or_deleted.yml
  rules/wiz_rules/wiz_user_role_updated_or_deleted.py
  rules/wiz_rules/wiz_user_role_updated_or_deleted.yml
Labels: rules

#1360 Add Format Checker for MITRE ATT&CK Matrix Report Mappings
  .github/workflows/check-mitre.yml
  .scripts/mitre_mapping_check.py
  Makefile
Labels: enhancement, github_actions

#1356 THREAT-387 Sublime Security Rules
  Pipfile
  Pipfile.lock
  global_helpers/panther_sublime_helpers.py
  global_helpers/panther_sublime_helpers.yml
  packs/sublime.yml
  rules/sublime_rules/sublime_mailboxes_deactivated.py
  rules/sublime_rules/sublime_mailboxes_deactivated.yml
  rules/sublime_rules/sublime_message_flagged.py
  rules/sublime_rules/sublime_message_flagged.yml
  rules/sublime_rules/sublime_message_source_deleted_or_deactivated.py
  rules/sublime_rules/sublime_message_source_deleted_or_deactivated.yml
  rules/sublime_rules/sublime_rules_deleted_or_deactivated.py
  rules/sublime_rules/sublime_rules_deleted_or_deactivated.yml
Labels: rules

#1355 test with api
  .github/workflows/check-packs.yml
  .github/workflows/test.yml
Labels: github_actions

#1364 Fix issue 466: Add mock to rule test
  rules/aws_cloudtrail_rules/aws_security_configuration_change.py
  rules/aws_cloudtrail_rules/aws_security_configuration_change.yml
Labels: bug

#1365 Fix issue 439: AccountId case
  global_helpers/default_test.py
  policies/aws_cloudformation_policies/aws_cloudformation_stack_drifted.yml
  policies/aws_cloudformation_policies/aws_cloudformation_stack_uses_iam_role.yml
  policies/aws_cloudformation_policies/aws_cloudformation_termination_protection.yml
  policies/aws_cloudwatch_policies/aws_cloudwatch_loggroup_data_retention.yml
  policies/aws_cloudwatch_policies/aws_cloudwatch_loggroup_encrypted.yml
  policies/aws_cloudwatch_policies/aws_cloudwatch_loggroup_sensitive_encrypted.yml
  policies/aws_ec2_policies/aws_ec2_volume_encryption.yml
  policies/aws_ec2_policies/aws_ec2_volume_snapshot_encrypted.yml
  policies/aws_guardduty_policies/aws_guardduty_enabled.py
  policies/aws_vpc_policies/aws_network_acl_restricted_ssh.yml
  policies/aws_vpc_policies/aws_network_acl_restricts_insecure_protocols.yml
Labels: bug

#1363 Fix issue 468: Zendesk severity override
  rules/zendesk_rules/zendesk_user_suspension.py
Labels: bug

#1366 Clean up GitHub rule
  rules/github_rules/github_action_failed.py
Labels: tuning

#1361 Add Unpacked Items to Packs
  packs/auth0.yml
  packs/aws.yml
  packs/gcp_audit.yml
  packs/gcp_k8.yml
  packs/github.yml
  packs/multisource_correlations.yml
  packs/snowflake.yml
  queries/crowdstrike_queries/AWS_Authentication_from_CrowdStrike_Unmanaged_Device.yml
  queries/crowdstrike_queries/Okta_Login_From_CrowdStrike_Unmanaged_Device.yml
  queries/crowdstrike_queries/onepassword_login_from_crowdstrike_unmanaged_device.yml
  queries/dropbox_queries/Dropbox_Many_Deletes.yml
  queries/dropbox_queries/Dropbox_Many_Downloads.yml
  rules/github_rules/github_repo_hook_modified.yml
  rules/gitlab_rules/gitlab_audit_password_reset_multiple_emails.yml
  rules/gitlab_rules/gitlab_production_password_reset_multiple_emails.yml
  templates/example_scheduled_rule.yml
Labels: packs

#1362 fix - IAM User takeover Correlation Rule correlating on IP instead of user
  correlation_rules/aws_user_takeover_via_password_reset.yml
  rules/aws_cloudtrail_rules/aws_cloudtrail_loginprofilecreatedormodified.py
  rules/aws_cloudtrail_rules/aws_console_login.py
Labels: tuning, correlation_rules

#1358 Filter out Intelsat satellite network plane wifi from Impossible Travel
  rules/standard_rules/impossible_travel_login.py
  rules/standard_rules/impossible_travel_login.yml
Labels: tuning
