Repository panther-labs/panther-analysis, pull requests merged in 2024-10, with the labels that each got.

#1381 Configure `lint-mitre` to ignore schema test files
  .scripts/mitre_mapping_check.py
Labels: bug, github_actions

#1386 Delete 'Snowflake.PublicRoleGrant' & query
  deprecated.txt
  packs/snowflake.yml
  queries/snowflake_queries/snowflake_public_role_grant.py
  queries/snowflake_queries/snowflake_public_role_grant.yml
  queries/snowflake_queries/snowflake_public_role_grant_query.yml
Labels: tuning, queries, scheduled_rules, packs

#1378 new rule: GCP.User.Added.To.Privileged.Group
  rules/gcp_audit_rules/gcp_user_added_to_privileged_group.py
  rules/gcp_audit_rules/gcp_user_added_to_privileged_group.yml
Labels: rules

#1376 THREAT-395 Correlation Rule Style Guide in repo
  style_guides/CORRELATION_RULES_STYLE_GUIDE.md
  style_guides/STYLE_GUIDE.md
Labels: documentation

#1391 ThinkstCanary Rules
  global_helpers/panther_thinkstcanary_helpers.py
  global_helpers/panther_thinkstcanary_helpers.yml
  packs/thinkstcanary.yml
  rules/thinkstcanary_rules/thinkst_canary_dcrc.py
  rules/thinkstcanary_rules/thinkst_canary_dcrc.yml
  rules/thinkstcanary_rules/thinkst_canary_incident.py
  rules/thinkstcanary_rules/thinkst_canary_incident.yml
  rules/thinkstcanary_rules/thinkst_canarytoken_incident.py
  rules/thinkstcanary_rules/thinkst_canarytoken_incident.yml
Labels: rules, packs

#1395 Allow 'applicationName=login` for `GSuite.ExternalMailForwarding`
  rules/gsuite_activityevent_rules/gsuite_external_forwarding.py
  rules/gsuite_activityevent_rules/gsuite_external_forwarding.yml
Labels: rules, tuning

#1394 ASK-833 `GSuite.Drive.ExternalFileShare` sender-receiver pairs in EXCEPTION_PATTERN
  rules/gsuite_reports_rules/gsuite_drive_external_share.py
  rules/gsuite_reports_rules/gsuite_drive_external_share.yml
Labels: rules, tuning

#1396 Update Internal Automations
  .github/workflows/check-deprecated.yml
  .github/workflows/check-packs.yml
  .github/workflows/upload.yml
Labels: github_actions

#1393 Add AWS WAF Logging Configured Policy
  packs/aws.yml
  policies/aws_waf_policies/aws_waf_logging_configured.py
  policies/aws_waf_policies/aws_waf_logging_configured.yml
Labels: policies

#1397 Update PAT to `0.54.0`, and minor change to test action
  .github/workflows/test.yml
  Pipfile
  Pipfile.lock
Labels: dependencies, github_actions

#1404 feat: include accountId in aws_guardduty_context
  global_helpers/panther_aws_helpers.py
Labels: enhancement

#1411 fix typo in Makefile
  Makefile
Labels: bug

#1399 Add AWS WAF WebACL Has Associated Resources policy
  packs/aws.yml
  policies/aws_waf_policies/aws_waf_webacl_has_associated_resources.py
  policies/aws_waf_policies/aws_waf_webacl_has_associated_resources.yml
Labels: policies
