Repository panther-labs/panther-analysis, pull requests merged in 2024-12, with the labels that each got.

#1438 Wiz.Alert.Passthrough: New Dedup Logic
  rules/wiz_rules/wiz_alert_passthrough.py
  rules/wiz_rules/wiz_alert_passthrough.yml
Labels: rules, tuning

#1436 PantherFlow Investigator Helper
  global_helpers/global_helpers_test.py
  global_helpers/panther_aws_helpers.py
  global_helpers/panther_base_helpers.py
  global_helpers/panther_okta_helpers.py
Labels: enhancement

#1441 Add get_user to AWS datamodel
  data_models/aws_cloudtrail_data_model.py
  data_models/aws_cloudtrail_data_model.yml
Labels: enhancement

#1433 THREAT-413 - Tune EKS Anonymous API Access Detection Rule (#1405)
  packs/aws.yml
  rules/aws_eks_rules/anonymous_api_access.py
  rules/aws_eks_rules/anonymous_api_access.yml
Labels: rules, tuning

#1440 Update Email Regex
  global_helpers/global_helpers_test.py
  global_helpers/panther_base_helpers.py
  packs/msft_graph.yml
  packs/zoom.yml
  rules/microsoft_rules/microsoft365_external_sharing.py
  rules/zoom_operation_rules/zoom_user_promoted_to_privileged_role.py
  rules/zoom_operation_rules/zoom_user_promoted_to_privileged_role.yml
Labels: bug

#1437 THREAT-420: Stratus AWS Logging Detections
  packs/aws.yml
  rules/aws_cloudtrail_rules/aws_cloudtrail_event_selectors_disabled.py
  rules/aws_cloudtrail_rules/aws_cloudtrail_event_selectors_disabled.yml
  rules/aws_cloudtrail_rules/aws_cloudtrail_short_lifecycle.py
  rules/aws_cloudtrail_rules/aws_cloudtrail_short_lifecycle.yml
  rules/aws_cloudtrail_rules/aws_dns_logs_deleted.py
  rules/aws_cloudtrail_rules/aws_dns_logs_deleted.yml
  rules/aws_cloudtrail_rules/aws_vpc_flow_logs_deleted.py
  rules/aws_cloudtrail_rules/aws_vpc_flow_logs_deleted.yml
Labels: rules

#1442 Add CrowdStrike Event Streams Passthrough Rule
  packs/crowdstrike_event_streams.yml
  rules/crowdstrike_rules/event_stream_rules/crowdstrike_detection_summary.py
  rules/crowdstrike_rules/event_stream_rules/crowdstrike_detection_summary.yml
Labels: rules

#1444 Remove Snowflake.Stream.AttemptedLoginByDisabledUser and assc. query
  deprecated.txt
  packs/snowflake_streaming.yml
  queries/snowflake_queries/snowflake_attempted_login_by_disabled_user.py
  queries/snowflake_queries/snowflake_attempted_login_by_disabled_user.yml
  queries/snowflake_queries/snowflake_attempted_login_by_disabled_user_query.yml
Labels: bug
