Repository panther-labs/panther-analysis, pull requests merged in 2025-03, with the labels that each got.

#1526 Add guardduty critical
  packs/aws.yml
  rules/aws_guardduty_rules/aws_guardduty_critical_sev_findings.py
  rules/aws_guardduty_rules/aws_guardduty_critical_sev_findings.yml
Labels: rules

#1529 Enhanced Microsoft Exchange External Forwarding Detection
  global_helpers/panther_msft_helpers.py
  indexes/alpha-index.md
  indexes/aws.md
  indexes/detection-coverage.json
  rules/microsoft_rules/microsoft_exchange_external_forwarding.py
  rules/microsoft_rules/microsoft_exchange_external_forwarding.yml
Labels: rules, tuning

#1534 Revert "Validate on PR merge"
  .github/workflows/validate.yml
Labels: github_actions

#1533 Check for org ID restrictions in policies
  rules/aws_cloudtrail_rules/aws_resource_made_public.py
  rules/aws_cloudtrail_rules/aws_resource_made_public.yml
Labels: bug

#1536 Revert Helper Backports
  global_helpers/panther_base_helpers.py
  global_helpers/panther_base_helpers_old.py
  global_helpers/panther_base_helpers_old.yml
  global_helpers/panther_default.py
  global_helpers/panther_default.yml
  global_helpers/panther_iocs.py
  global_helpers/panther_oss_helpers.py
  global_helpers/panther_oss_helpers.yml
  packs/auth0.yml
  packs/aws.yml
  packs/aws_cis.yml
  packs/azure_signin.yml
  packs/box.yml
  packs/cloudflare.yml
  packs/credential_security.yml
  packs/crowdstrike.yml
  packs/crowdstrike_event_streams.yml
  packs/gcp_audit.yml
  packs/gcp_k8.yml
  packs/gravitational_teleport.yml
  packs/gsuite_reports.yml
  packs/ipinfo.yml
  packs/msft_graph.yml
  packs/multisource_correlations.yml
  packs/notion.yml
  packs/okta.yml
  packs/onelogin.yml
  packs/panther_legacy_helpers.yml
  packs/standard_ruleset.yml
  packs/tor.yml
  packs/wiz.yml
  packs/zoom.yml
  packs/zscaler_zia.yml
Labels: dependencies

#1527 THREAT-445 Stratus-GCP-Exfiltration
  indexes/alpha-index.md
  indexes/detection-coverage.json
  indexes/gcp.md
  packs/gcp_audit.yml
  rules/gcp_audit_rules/gcp_compute_set_iam_policy.py
  rules/gcp_audit_rules/gcp_compute_set_iam_policy.yml
  rules/gcp_audit_rules/gcp_iam_corp_email.py
  rules/gcp_audit_rules/gcp_iam_corp_email.yml
  rules/gcp_audit_rules/gcp_invite_external_user_as_owner.py
  rules/gcp_audit_rules/gcp_invite_external_user_as_owner.yml
  rules/gcp_audit_rules/gcp_snapshot_insert.py
  rules/gcp_audit_rules/gcp_snapshot_insert.yml
Labels: rules

#1544 Fix Snowflake data exfiltration signals
  rules/snowflake_rules/snowflake_stream_file_downloaded.py
  rules/snowflake_rules/snowflake_stream_file_downloaded.yml
  rules/snowflake_rules/snowflake_stream_table_copied_into_stage.py
  rules/snowflake_rules/snowflake_stream_table_copied_into_stage.yml
  rules/snowflake_rules/snowflake_stream_temp_stage_created.py
  rules/snowflake_rules/snowflake_stream_temp_stage_created.yml
Labels: bug

#1539 Azure.Audit.RiskLevelPassthrough: dedup on just actor and not source IP
  rules/azure_signin_rules/azure_risklevel_passthrough.py
Labels: tuning

#1525 THREAT-421: Stratus AWS SSM Detections
  data_models/aws_cloudtrail_data_model.py
  global_helpers/panther_aws_helpers.py
  indexes/alpha-index.md
  indexes/aws.md
  indexes/detection-coverage.json
  packs/aws.yml
  queries/aws_queries/aws_ssm_multiple_sessions.py
  queries/aws_queries/aws_ssm_multiple_sessions.yml
  queries/aws_queries/aws_ssm_multiple_sessions_query.yml
  rules/aws_cloudtrail_rules/aws_ssm_decrypt_ssm_params.py
  rules/aws_cloudtrail_rules/aws_ssm_decrypt_ssm_params.yml
  rules/aws_cloudtrail_rules/aws_ssm_distributed_command.py
  rules/aws_cloudtrail_rules/aws_ssm_distributed_command.yml
Labels: rules

#1528 THREAT-422 Stratus AWS S3 Detections
  indexes/alpha-index.md
  indexes/aws.md
  indexes/detection-coverage.json
  packs/aws.yml
  rules/aws_cloudtrail_rules/aws_s3_copy_object_with_client_side_encryption.py
  rules/aws_cloudtrail_rules/aws_s3_copy_object_with_client_side_encryption.yml
  rules/aws_cloudtrail_rules/aws_s3_delete_object.py
  rules/aws_cloudtrail_rules/aws_s3_delete_object.yml
  rules/aws_cloudtrail_rules/aws_s3_delete_objects.py
  rules/aws_cloudtrail_rules/aws_s3_delete_objects.yml
Labels: rules

#1547 Better VScode schemas
  .vscode/example_settings.json
  .vscode/rule_jsonschema.json
  .vscode/schemas/analysis_config_schema.json
  .vscode/schemas/correlation_rule.json
  .vscode/schemas/data_model.json
  .vscode/schemas/derived.json
  .vscode/schemas/global.json
  .vscode/schemas/lookup_table.json
  .vscode/schemas/pack.json
  .vscode/schemas/policy.json
  .vscode/schemas/query.json
  .vscode/schemas/rule.json
Labels: enhancement

#1551 Validate dedup
  .vscode/schemas/derived.json
  .vscode/schemas/rule.json
Labels: enhancement

#1555 Azure.Audit.RoleChangedPIM: Ensure Every Event is a Separate Alert
  rules/azure_signin_rules/azure_role_changed_pim.py
  rules/azure_signin_rules/azure_role_changed_pim.yml
Labels: bug

#1548 Enable sync to upstream Github action can change Github actions
  .github/workflows/sync-from-upstream.yml
Labels: github_actions

#1549 THREAT 444: Add Anomaly Detection Queries
  indexes/alpha-index.md
  indexes/aws.md
  indexes/detection-coverage.json
  queries/aws_queries/anomalous_vpc_traffic_to_dest_port_query.yml
  queries/macros/anomalies.yml
  queries/panther_queries/new_login_ip_query.yml
Labels: queries

#1557 THREAT-478 Fix standard admin created for github
  rules/standard_rules/admin_assigned.py
Labels: tuning

#1558 THREAT-467 AWS Region Enabled - rule
  indexes/alpha-index.md
  indexes/aws.md
  indexes/detection-coverage.json
  packs/aws.yml
  rules/aws_cloudtrail_rules/aws_cloudtrail_region_enabled.py
  rules/aws_cloudtrail_rules/aws_cloudtrail_region_enabled.yml
Labels: rules

#1561 AWS.EC2.LaunchUnusualEC2Instances: Add support for dictionary 'instanceType' values
  rules/aws_cloudtrail_rules/aws_ec2_launch_unusual_ec2_instances.py
  rules/aws_cloudtrail_rules/aws_ec2_launch_unusual_ec2_instances.yml
Labels: bug

#1553 AWS VPC Endpoint Rules
  indexes/alpha-index.md
  indexes/aws.md
  indexes/detection-coverage.json
  packs/aws.yml
  rules/aws_cloudtrail_rules/aws_vpce_access_denied.py
  rules/aws_cloudtrail_rules/aws_vpce_access_denied.yml
  rules/aws_cloudtrail_rules/aws_vpce_external_principal.py
  rules/aws_cloudtrail_rules/aws_vpce_external_principal.yml
  rules/aws_cloudtrail_rules/aws_vpce_s3_external_ip.py
  rules/aws_cloudtrail_rules/aws_vpce_s3_external_ip.yml
  rules/aws_cloudtrail_rules/aws_vpce_sensitive_api_calls.py
  rules/aws_cloudtrail_rules/aws_vpce_sensitive_api_calls.yml
Labels: rules

#1546 Confused Deputy Protection for Resource Policies
  deprecated.txt
  indexes/alpha-index.md
  indexes/aws.md
  indexes/detection-coverage.json
  packs/aws.yml
  policies/aws_resource_policy_policies/aws_resource_policy_confused_deputy.py
  policies/aws_resource_policy_policies/aws_resource_policy_confused_deputy.yml
  policies/aws_s3_policies/aws_s3_bucket_policy_confused_deputy.py
  policies/aws_s3_policies/aws_s3_bucket_policy_confused_deputy.yml
Labels: policies

#1564 Make detection-coverage.json multi-line
  .scripts/generate_indexes.py
Labels: documentation
