Repository panther-labs/panther-analysis, pull requests merged in 2025-01, with the labels that each got.

#1492 [Tuning] GitHub Actions Trust Policy
  policies/aws_iam_policies/aws_iam_role_github_actions_trust.py
  policies/aws_iam_policies/aws_iam_role_github_actions_trust.yml
Labels: tuning

#1483 Add Tracebit detection
  packs/tracebit.yml
  rules/tracebit_rules/tracebit_alert.py
  rules/tracebit_rules/tracebit_alert.yml
Labels: rules

#1469 Add policy for AWS Lambda publicly accessible
  packs/aws.yml
  policies/aws_lambda_policies/aws_lambda_public_access.py
  policies/aws_lambda_policies/aws_lambda_public_access.yml
Labels: policies

#1487 Validate on PR merge
  .github/workflows/validate.yml
Labels: github_actions

#1484 Bedrock detections for AWS CloudTrail
  packs/aws.yml
  rules/aws_cloudtrail_rules/aws_bedrock_deletemodelinvocationloggingconfiguration.py
  rules/aws_cloudtrail_rules/aws_bedrock_deletemodelinvocationloggingconfiguration.yml
  rules/aws_cloudtrail_rules/aws_bedrock_guardrail_update_delete.py
  rules/aws_cloudtrail_rules/aws_bedrock_guardrail_update_delete.yml
Labels: rules

#1480 S1 Threat Passthrough Tuning
  rules/sentinelone_rules/sentinelone_threats.py
  rules/sentinelone_rules/sentinelone_threats.yml
Labels: tuning

#1481 THREAT-423 Stratus AWS Snapshot Sharing Detections
  rules/aws_cloudtrail_rules/aws_ami_modified_for_public_access.py
  rules/aws_cloudtrail_rules/aws_ami_modified_for_public_access.yml
Labels: rules

#1486 THREAT-425 Stratus AWS Lambda Detections
  packs/aws.yml
  rules/aws_cloudtrail_rules/aws_add_malicious_lambda_extension.py
  rules/aws_cloudtrail_rules/aws_add_malicious_lambda_extension.yml
  rules/aws_cloudtrail_rules/aws_backdoor_lambda_function.py
  rules/aws_cloudtrail_rules/aws_backdoor_lambda_function.yml
  rules/aws_cloudtrail_rules/aws_overwrite_lambda_code.py
  rules/aws_cloudtrail_rules/aws_overwrite_lambda_code.yml
Labels: rules

#1472 Auto Generated Indexes v2
  .github/workflows/generate-indexes.yml
  .scripts/generate_indexes.py
  .scripts/requirements.txt
  indexes/README.md
Labels: documentation, github_actions

#1485 Stratus AWS: Misc Detections
  packs/aws.yml
  rules/aws_cloudtrail_rules/aws_cloudtrail_attempt_to_leave_org.py
  rules/aws_cloudtrail_rules/aws_cloudtrail_attempt_to_leave_org.yml
  rules/aws_cloudtrail_rules/aws_cloudtrail_ses_check_identity_verifications.py
  rules/aws_cloudtrail_rules/aws_cloudtrail_ses_check_identity_verifications.yml
  rules/aws_cloudtrail_rules/aws_cloudtrail_ses_check_send_quota.py
  rules/aws_cloudtrail_rules/aws_cloudtrail_ses_check_send_quota.yml
  rules/aws_cloudtrail_rules/aws_cloudtrail_ses_check_ses_sending_enabled.py
  rules/aws_cloudtrail_rules/aws_cloudtrail_ses_check_ses_sending_enabled.yml
  rules/aws_cloudtrail_rules/aws_cloudtrail_ses_enumeration.yml
  rules/aws_cloudtrail_rules/aws_cloudtrail_ses_list_identities.py
  rules/aws_cloudtrail_rules/aws_cloudtrail_ses_list_identities.yml
Labels: rules

#1475 THREAT-424 Stratus AWS IAM Detections
  correlation_rules/aws_create_admin_iam_user.yml
  correlation_rules/aws_create_backdoor_admin_iam_role.yml
  packs/aws.yml
  rules/aws_cloudtrail_rules/aws_cloudtrail_loginprofilecreatedormodified.py
  rules/aws_cloudtrail_rules/aws_cloudtrail_loginprofilecreatedormodified.yml
  rules/aws_cloudtrail_rules/aws_iam_attach_admin_role_policy.py
  rules/aws_cloudtrail_rules/aws_iam_attach_admin_role_policy.yml
  rules/aws_cloudtrail_rules/aws_iam_attach_admin_user_policy.py
  rules/aws_cloudtrail_rules/aws_iam_attach_admin_user_policy.yml
  rules/aws_cloudtrail_rules/aws_iam_backdoor_role.py
  rules/aws_cloudtrail_rules/aws_iam_backdoor_role.yml
  rules/aws_cloudtrail_rules/aws_iam_create_role.py
  rules/aws_cloudtrail_rules/aws_iam_create_role.yml
  rules/aws_cloudtrail_rules/aws_iam_create_user.py
  rules/aws_cloudtrail_rules/aws_iam_create_user.yml
  rules/aws_cloudtrail_rules/aws_iam_user_key_created.py
  rules/aws_cloudtrail_rules/aws_user_login_profile_modified.yml
Labels: rules

#1501 [Tuning] Public Lambda Policy Tuning
  policies/aws_lambda_policies/aws_lambda_public_access.py
  policies/aws_lambda_policies/aws_lambda_public_access.yml
Labels: bug, policies, tuning
