Repository panther-labs/panther-analysis, pull requests merged in 2025-02, with the labels that each got.

#1498 [Tuning] EC2 Download Instance User Data
  rules/aws_cloudtrail_rules/aws_ec2_download_instance_user_data.py
  rules/aws_cloudtrail_rules/aws_ec2_download_instance_user_data.yml
Labels: tuning

#1510 ASK-1420 Remove pylint-print dependency
  Pipfile
  Pipfile.lock
Labels: dependencies

#1509 ASK-1387 Tuning AWS.IAM.Role.GitHubActionsTrust policy to be more flexible
  policies/aws_iam_policies/aws_iam_role_github_actions_trust.py
  policies/aws_iam_policies/aws_iam_role_github_actions_trust.yml
Labels: policies, tuning

#1511 [Tuning] VPC Healthy Log Status
  data_models/aws_vpcflow_data_model.yml
  rules/aws_vpc_flow_rules/aws_vpc_healthy_log_status.yml
Labels: rules, tuning

#1512 [Tuning] EC2 Download Instance User Data
  rules/aws_cloudtrail_rules/aws_ec2_download_instance_user_data.py
  rules/aws_cloudtrail_rules/aws_ec2_download_instance_user_data.yml
Labels: rules, tuning

#1506 Wiz Issue Followed by SSH
  correlation_rules/wiz_issue_followed_by_ssh.yml
  packs/multisource_correlations.yml
  rules/aws_vpc_flow_rules/aws_vpc_ssh_allowed_signal.py
  rules/aws_vpc_flow_rules/aws_vpc_ssh_allowed_signal.yml
Labels: correlation_rules

#1463 Adding Azure EntraID rules
  .github/workflows/upload.yml
  global_helpers/panther_msft_helpers.py
  packs/azure_signin.yml
  rules/azure_signin_rules/azure_invite_external_users.py
  rules/azure_signin_rules/azure_invite_external_users.yml
  rules/azure_signin_rules/azure_mfa_disabled.py
  rules/azure_signin_rules/azure_mfa_disabled.yml
  rules/azure_signin_rules/azure_policy_changed.py
  rules/azure_signin_rules/azure_policy_changed.yml
  rules/azure_signin_rules/azure_role_changed_pim.py
  rules/azure_signin_rules/azure_role_changed_pim.yml
Labels: rules

#1518 Sign generated indexes
  .github/workflows/generate-indexes.yml
  .pylintrc
Labels: github_actions

#1521 Update TrailDiscover LUT to load from S3
  lookup_tables/traildiscover/traildiscover_data.jsonl
  lookup_tables/traildiscover/traildiscover_lut.yml
Labels: lookup_table

#1523 Remove Dependabot config
  .github/dependabot.yml
  Dockerfile
  rules/aws_cloudtrail_rules/aws_cloudtrail_useraccesskeyauth.yml
Labels: dependencies

#1519 Remove references to p_udm
  correlation_rules/aws_console_sign-in_without_okta.yml
  global_helpers/global_helpers_test.py
  indexes/alpha-index.md
  indexes/aws.md
  indexes/detection-coverage.json
  indexes/okta.md
  indexes/saas.md
  rules/aws_cloudtrail_rules/aws_cloudtrail_useraccesskeyauth.yml
  rules/aws_securityfinding_rules/decoy_dynamodb_accessed.yml
  rules/aws_securityfinding_rules/decoy_iam_assumed.yml
  rules/aws_securityfinding_rules/decoy_s3_accessed.yml
  rules/aws_securityfinding_rules/decoy_secret_accessed.yml
  rules/aws_securityfinding_rules/decoy_systems_manager_parameter_accessed.yml
  rules/okta_rules/okta_sso_to_aws.py
  rules/standard_rules/sign_in_from_rogue_state.py
  rules/standard_rules/sign_in_from_rogue_state.yml
  rules/sublime_rules/sublime_message_flagged.yml
  rules/tailscale_rules/tailscale_https_disabled.yml
  rules/tailscale_rules/tailscale_machine_approval_requirements_disabled.yml
  rules/tailscale_rules/tailscale_magicdns_disabled.yml
Labels: dependencies

#1524 Fix Unit Tests for Secrets Manager Multi-Region
  rules/aws_cloudtrail_rules/aws_secretsmanager_retrieve_secrets_multiregion.py
  rules/aws_cloudtrail_rules/aws_secretsmanager_retrieve_secrets_multiregion.yml
Labels: bug
